body {
    background-color: aquamarine;
    position: relative;
    margin: 50px;
}
.bg-primary {
    background-color: #90ee90 !important;
}
.fa {
    font-family: "FontAwesome";
    font-size: xx-large;
}
section {
    position: relative;
    .menu {
        height: 677px;
        width: 120px;
        position: absolute;
        top: 19px;
        left: 84px;
    }
    .section-form {
        background-color: white;
        padding-left: 189px;
        h1 {
            color: green;
        }
        h2 {
            color: #90ee90;
        }
        input {
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    .get10 {
        height: 60px;
        width: 100px;
        position: absolute;
        bottom: 169px;
        right: 28px;
        transform: rotate(-90deg);
        font-size: 20px;
        padding-top: 13px !important;
    }
}
